pytorch-lightning==1.9.4
torchmetrics
lightning_utilities
pandas==2.2.2
numpy==1.26.4
omegaconf
hydra-core
hydra-joblib-launcher
hydra-optuna-sweeper
beautifulsoup4==4.12.0
html5lib
html-table-parser-python3==0.3.1
sphinx==6.1.3
sphinx_rtd_theme
plotly
scikit-learn
numba
einops
matplotlib
aim==3.20.1
starlette==0.37.2
pydantic==2.7.4
scipy
six==1.16.0
urllib3==2.2.1
idna==3.7
certifi==2024.6.2
pyaml==24.4.0
sniffio==1.3.1