pandas==1.5.3
numpy==1.24.2
matplotlib==3.7.0
omegaconf==2.3.0
hydra-core==1.3.2
hydra-joblib-launcher==1.2.0
hydra-optuna-sweeper==1.2.0
scikit-learn
beautifulsoup4==4.12.0
html5lib
html-table-parser-python3==0.3.1
Omegaconf
plotly
plotly-express
kaleido
sphinx==6.1.3
sphinx_rtd_theme
hydra-core
einops
m2r2
pytest
numba==0.58.0
torch
pytorch-lightning==1.9.4
#docutils==0.19
scipy==1.10.1