pandas
numpy== 1.26.1
matplotlib==3.7.0
omegaconf==2.3.0
hydra-core==1.3.2
hydra-joblib-launcher==1.2.0
hydra-optuna-sweeper==1.2.0
scikit-learn
beautifulsoup4==4.12.0
html5lib
html-table-parser-python3==0.3.1
Omegaconf
plotly
plotly-express
kaleido
sphinx
sphinx-rtd-theme
hydra-core
einops
m2r2
pytest
numba==0.58.1
torch
pytorch-lightning==1.9.4
docutils==0.19
pybtex-docutils==1.0.2
scipy==1.10.1
lightning-utilities==0.7.1
torchmetrics==0.11.3
tqdm
pandocfilters
sphinxcontrib-serializinghtml
nbconvert
mistune
pandoc